apiVersion: v1
kind: Service
metadata:
  name: car-web-svc
  labels:
    app: car-web
spec:
  ports:
    - port: 80
  selector:
    app: car-web
    tier: frontend
  type: LoadBalancer
---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: car-web-deploy
  labels:
    app: car-web
spec:
  selector:
    matchLabels:
      app: car-web
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: car-web
        tier: frontend
    spec:
      containers:
      - name: car-web
        image: santospardos/sanvalero:car-web2
        ports:
        - containerPort: 80
